<header class=" text-white px-3 d-flex justify-content-between align-items-center" style="background-color: #151e59;">
  <div class="d-flex align-items-center">
   <div class=" ">
      <%= image_tag 'logo5.png', alt: 'Logo', class: 'logo'  %>
    </div>
    <div class="vertical-line"></div>
      <h2 class="fw-bold">Dental Credentialing<br> Manager</h2>
  </div>
   <div class="d-flex align-items-center">
    <i class="fas fa-bell fa-xl me-2"></i>
    <div class="border border-radius bg-white text-dark fw-bold d-flex justify-content-center align-items-center" style="width: 30px; height: 30px; border-radius: 10px;">JD</div>
   <i class="fa-solid fa-circle-user ms-2 fa-3x custom-icon"></i>
  </div>
</header>
<div class="d-flex vh-100">
  <nav class="bg-white p-3 sidebar">
    <div class=" fw-bold">
      <a href="<%= home_path %>" class=" list-group-item list-group-item-action ">
        <i class="fa-solid fa-box-open me-3"></i> APPLICATION
      </a>
      <a href="<%= locations_path %>" class="list-group-item list-group-item-action active">
        <i class="fa-solid fa-location-arrow me-3"></i> LOCATIONS
      </a>
      <a href="#" class="list-group-item list-group-item-action ">
        <i class="fa-solid fa-stethoscope me-3 "></i> DOCTORS
      </a>
      <a href="#" class="list-group-item list-group-item-action" style="font-size: 15.2px;">
        <i class="fa-solid fa-truck-ramp-box me-3"style="font-size: 12px;"></i>PAR TRACKING 
      </a>
      <a href="#" class="list-group-item list-group-item-action ">
        <i class="fas fa-question-circle me-3 "></i> HELP / CODES
      </a>
      <a href="#" class="list-group-item list-group-item-action ">
        <i class="fa-solid fa-door-open me-3"></i> LOG OUT
      </a>
    </div>
  </nav>
  <div class="vertical-line1"></div> 
  <main class="flex-grow-1 p-4">
    <h3 class="fw-bold">
      OFFICE PROFILE
    </h3><hr>
    <h2 class="mt-4 fw-bold">Dental Demonstration Office</h2>
    <h5 class="mt-4 fw-bold"><%= @location.name %></h5>
    <p class="para1">Complete the following questions regarding your practice; your data will automatically save as you navigate from section to section. To move to a new section, just click on the title of that section. After completing the final section, click the "Save" link.</p>
    <div class="row mt-3">
      <div class="col d-flex flex-wrap gap-2">
        <%= link_to 'Corporate', edit_corporate_location_path(@location), class: 'btn1 btn-grey' %>
        <%= link_to 'Technical', edit_technical_location_path(@location), class: 'btn1 btn-grey' %>
        <%= link_to 'Location Specification', location_specification_location_path(@location), class: 'btn1 btn-blue' %>
        <%= link_to 'Services', '#', onclick: "saveAndNavigate('#{services_location_path(@location)}')", class: 'btn1 btn-grey' %>
        <%= link_to 'Liability', liability_location_path(@location), class: 'btn1 btn-grey' %>
        <%= link_to 'Miscellaneous', miscellaneous_location_path(@location), class: 'btn1 btn-grey' %>
        <%= link_to 'Save', save_location_path(@location), class: 'btn1 btn-grey' %>
      </div>
    </div>
    <div class="border border-dark mt-5 p-4 mb-5">
      <div class="row mt-3">
        <div class="text-end">
          <button class="btn1 btn btn-danger" data-bs-toggle="collapse" data-bs-target="#collapsibleFormSection" aria-expanded="false" aria-controls="collapsibleFormSection">
            COLLAPSE ALL
          </button>
        </div>
      </div>
      <div class="collapse show" id="collapsibleFormSection">
        <%= form_with(model: @location, local: true, html: { class: "mt-5 form-border", id: "location-specification-form" }) do |form| %>
          <div class="mb-3">
            <div class="section-header p-3 fw-bold">Facility Information</div>

           <div class="question-row">
              <div class="d-flex justify-content-between align-items-center fw-bold">
                <%= form.label :internet_connection, "1. DOES YOUR OFFICE HAVE INTERNET CONNECTION?", class: "col-form-label" %>
                <div class="radio-group d-flex">
                  <label class="form-check-label d-flex align-items-center">
                    <%= form.radio_button :internet_connection, 'yes', id: 'q1-yes', class: "form-check-input " %>
                    <span class="ms-1">YES</span>
                  </label>
                  
                  <label class="form-check-label d-flex align-items-center">
                    <%= form.radio_button :internet_connection, 'no', id: 'q1-no', class: "form-check-input" %>
                    <span class="ms-1">NO</span>
                  </label>
                  
                  <label class="form-check-label d-flex align-items-center">
                    <%= form.radio_button :internet_connection, 'na', id: 'q1-na', class: "form-check-input" %>
                    <span class="ms-1">N/A</span>
                  </label>
                </div>
              </div>
            </div>

            <div class="question-row">
              <div class="d-flex justify-content-between align-items-center fw-bold">
                <%= form.label :community_provider, "2. ESSENTIAL COMMUNITY PROVIDER?", class: "col-form-label" %>
                <div class="radio-group d-flex">
                  <label class="form-check-label d-flex align-items-center">
                    <%= form.radio_button :community_provider, 'yes', id: "q2-yes", class: "form-check-input" %>
                    <span class="ms-1">YES</span>
                  </label>

                  <label class="form-check-label d-flex align-items-center">
                    <%= form.radio_button :community_provider, 'no', id: "q2-no", class: "form-check-input" %>
                    <span class="ms-1">NO</span>
                  </label>

                  <label class="form-check-label d-flex align-items-center">
                    <%= form.radio_button :community_provider, 'na', id: "q2-na", class: "form-check-input" %>
                    <span class="ms-1">N/A</span>
                  </label>
                </div>
              </div>
            </div>

            <div class="section-header p-3 fw-bold">Primary Location - Additional Information</div>

            <div class="question-row">
              <div class="d-flex justify-content-between align-items-center fw-bold">
                <%= form.label :free_parking, "3. DOES YOUR OFFICE OFFER FREE PARKING?", class: "col-form-label" %>
                <div class="radio-group d-flex">
                  <label class="form-check-label d-flex align-items-center">
                    <%= form.radio_button :free_parking, 'yes', id: "q3-yes", class: "form-check-input" %>
                    <span class="ms-1">YES</span>
                  </label>

                  <label class="form-check-label d-flex align-items-center">
                    <%= form.radio_button :free_parking, 'no', id: "q3-no", class: "form-check-input" %>
                    <span class="ms-1">NO</span>
                  </label>

                  <label class="form-check-label d-flex align-items-center">
                    <%= form.radio_button :free_parking, 'na', id: "q3-na", class: "form-check-input" %>
                    <span class="ms-1">N/A</span>
                  </label>
                </div>
              </div>
            </div>


            <div class="section-header fw-bold"><p class="mt-3">Primary Location - Office Hours</p></div>

            <% sequence_number = 4 %>
            <% ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"].each do |day| %>
              <div class="question-row">
                <div class="row mt-3">
                  <div class="col-md-9 fw-bold">
                    <%= form.label "#{day}_open", "#{sequence_number}. #{day.upcase} OPEN (INCLUDE A.M OR P.M)"  %>
                  </div>
                  <div class="col-md-3 fw-bold">
                    <%= form.text_field "#{day}_open", class: 'form-control rounded-0 border-dark fw-bold' %>
                  </div>
                </div>
              </div>
              <% sequence_number += 1 %>
              <div class="question-row">
                <div class="row mt-3">
                  <div class="col-md-9 fw-bold">
                    <%= form.label "#{day}_close", "#{sequence_number}. #{day.upcase} CLOSE", class: 'fw-bold' %>
                  </div>
                  <div class="col-md-3 ">
                    <%= form.text_field "#{day}_close", class: 'form-control rounded-0 border border-dark fw-bold' %>
                  </div>
                </div>
              </div>
              <% sequence_number += 1%>
            <% end %>
          </div>

          <%# Uncomment this section for the submit button %>
           <%# <div class="form-group mt-3"> %><%# 
            <%= form.submit "Save", class: "btn btn-primary" %> 
           <%# </div>  %>
        <% end %>
      </div>
    </div>
  </main>
</div>

<style>
   .logo{
  height: 20%;
  width: 175px;
}  
.list-group-item {
    padding: 20px;
    display: flex;
    align-items: center;
    color: #6c757d;
}
.list-group-item.active {
    background-color: #11468f;
    color: white;
    border-radius: 18px;
<%#     padding: 20px; %>
}

.custom-icon{
  font-size: 33px;
} 

.search-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px 0 0 5px;
  width: 800px;
}

.search-btn {
  border: none;
  background-color: #26408B;
  color: white;
  padding: 10px 20px;
  border-radius: 0 5px 5px 0;
  font-weight: bold;
}

.btn1 {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.btn-blue {
  background-color: #11468f;
  color: white;
  border-radius: 5px !important;
  padding: 10px 20px;
  font-weight: bold;
  text-decoration: none;
}

.btn-danger {
  color: white;
  margin-left: 10px;
  background-color: #e8484b;
  font-weight: bold;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.btn-grey{
  background-color: #8d8d8d;
  color: #eee;
  text-decoration: none;
}

.vertical-line {
  border-left: 2px solid white;
  height: auto;
  min-height: 85px;
  margin: 0 42px;
}
.vertical-line1 {
  border-left: 1px solid #ccc;
  height: 100%;
  margin-left: 18px;
  min-height: 2120px;
}

.para1{
  font-size: 23.5px;
}
.para2{
  font-size: 19px;
}
.bordered-row {
  border-bottom: 1px solid black; /* Adjust thickness as needed */
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.section-header {
    background-color: #E0E0E0;
    padding: 8px 15px;
    font-weight: 500;
}

.question-row  {
    padding: 8px 15px;
    border-bottom: 1px solid black;
}

.form-border{
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.form-check-input {
    margin-right: 8px;
}

.collapse-btn {
    background-color: #E91E63;
    border: none;
}

.collapse-btn:hover {
    background-color: #D81B60;
}

.radio-group {
    display: flex;
    gap: 2rem;
}

.radio-group input[type="radio"]:checked {
  accent-color: #11468f; /* Sets the checked color for compatible browsers */
}
.nav-link {
    color: #6c757d;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

</style>

<script>
  function saveAndNavigate(url) {
  $.ajax({
    url: '<%= save_data_location_path(@location) %>',  // Ensure this path is correct for saving data
    method: 'PATCH',
    data: $('form').serialize(), // Serialize the form data
    headers: {
      'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')  // Attach CSRF token here
    },
    success: function() {
      // Redirect to the specified URL (next tab) on success
      window.location.href = url;
    },
    error: function(xhr, status, error) {
      console.error("Error: " + error);
      alert('There was an error saving the data.');
    }
  });
}

</script>

